* {
    margin: 0;
    padding: 0;
}

.bgcolor {
    background: url("../assets/images/bg.jpg") no-repeat center top;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

@font-face {
    font-family: 'Impact';
    src : url('fonts/impact.ttf');
}

.container {
    width: 70%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.container > .logo{
    margin-bottom: 40px;
}

.img-responsive {
    max-width: 100%;
}

.logo > img {
    display: table;
    margin: 0 auto;
}

form > div > input{
    display: block;
    width: 100%;
    padding: 2px 28px;
    font-size: smaller;
    line-height: 1.5;
    border-radius: 4px;
    color: #cccccc;
    background-color: #fff;
    border: 1px solid #ced4da;
}

.clear-both {
    clear: both;
}

.login-info {
    display: flex;
    align-content: center;
    justify-content: center;
}

.login-info > .login {
    margin: 0px 15px;
    width: 25%;
    padding: 35px 15px;
    float: left;
    background: #dce7ed;
    border-radius: 10px;
    box-shadow: inset 0px -5px 1px #4e7491;
}

.pass-forgot {
    right: 6px;
    position: absolute;
    top: 4px;
    font-size: small;
}

form > div {
    position : relative;
}

form > div > input {
    width: 100%;
    box-sizing: border-box;
}

form > div > i {
    position : absolute;
    top: 3px;
    left: 7px;
    color : #cccccc;
}

.login > .title {
    text-align: center;
    font-family: Impact;
    color : #2c5273;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
}

.font-info {
    font-size: medium;
    color: #4d7594;
    margin-bottom: 7px;
}

input[type=checkbox]{
    background: #fff;
    color: #FFF;
    content: "\2713";
    text-align: center;
}

.btn-send {
    background: #00aced;
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0px 1px 1px #000;
    cursor: pointer;
}

.f-left {
    float: right;
}

.btn-center {
    display: table;
    margin: 0 auto;
}

.text-footer{
    text-align: center;
    font-size: x-small;
    margin-top: 40px;
    color: #376486;
    font-weight: bolder;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    .container {
        width: 80%;
        padding: 0 15px;
        /* margin: 0 auto; */
        /* position: relative; */
        top: 50%;
        /* transform: translateY(-50%); */
    }

    .container > .logo {
        margin-bottom: 20px;
    }

    .login-info {

        display: table;
        align-content: center;
        justify-content: center;
    }

    .login-info > .login {
        box-sizing: border-box;
        margin: 2px 0px;
        width: 100%!important;
        padding: 8px 15px;
        float: left;
        background: #dce7ed;
        border-radius: 0px;
        box-shadow: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .login-info > .login {
        width: 36%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}